body {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100vh;
}

p {
  font-size: 24px;
}

.btn {
  height: 100px;
  font-size: 27px !important;
}

.buttonContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25%;
  padding: 20px;
}

.map {
  width: 75%;
}

.sidebar {
  width: 25%;
  padding: 20px;
}

.outputBody {
  font-size: 24px;
  overflow-y: scroll;
  height: 75vh;
}
